<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Broadcasting to Speakers</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Media Sender to Chromecast and Nest Devices</h1>

    <form id="audioForm">

        <div id="deviceList">
            <p class="loading" id="loadingDevices">Loading available devices..</p>
        </div>

        <button id="discoverBtn" type="button">Discover Devices</button>

        <div class="form-group">
            <label id="volume-label" for="volume">Volume:</label>
            <input type="range" id="volume" min="0" max="100" value="50">
            <span id="volume-value">50%</span>
        </div>

        <div id="message-group">
        <textarea id="message" rows="4" placeholder="Type your message here..."></textarea>
        
        <select id="language"></select>

        <button type="submit" id="sendBtn" disabled>Send Message</button>

        </div>

        <div class="form-group">
            <input type="text" id="streamUrl" placeholder="Enter streaming URL">
            <button type="button" id="streamBtn">Stream Media</button>
        </div>

        <div class="form-group">
            <input type="file" id="audioFile" accept="audio/*">
            <button type="button" id="playAudioBtn">Play Audio</button>
        </div>

        <!-- Pause and Stop gives:
             STOP command requested but no session is active. -->

        <div style="visibility: hidden; display: none;" class="form-group">
            <button type="button" id="pauseAllBtn">Pause</button>
            <button type="button" id="stopAllBtn">Stop</button>
        </div>
    </form>

    <footer>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </footer>
</body>

</html>
